<footer class="footer">
    <div class="f-info footer-width">
        <div class="f-info-socials">
         <a
        href="https://x.com/SameerMali56657"
        target="_blank"
        style="text-decoration: none; color: inherit"
      >
        <i class="fa-brands fa-twitter" style="font-size: 20px"></i>
      </a>
      <a
        href="https://github.com/Sameer-Malik20"
        target="_blank"
        style="text-decoration: none; color: inherit"
      >
        <i class="fa-brands fa-github" style="font-size: 20px"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/sameer-malik-67ab45217/"
        target="_blank"
        style="text-decoration: none; color: inherit"
      >
        <i class="fa-brands fa-linkedin" style="font-size: 20px"></i>
      </a>
        </div>
        <div class="f-info-brand">&copy; WanderLust Private Limited</div>
        <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms"> Terms</a>
        </div>
    </div>
</footer>
